<header>
        <div class="bars none" (click)="handleDisplayMobileNav()">
           
            <img src="/assets/images/icons/bars.png" alt="">
          
        </div>
    <div class="logo">
        <a routerLink="">{{siteName}}</a>
    </div>
  
    <div class="nav-bar">
        <ul>
            <li *ngFor="let items of navs_data"><a [routerLink]="items.path"> {{items.name}} </a></li>
            <li *ngFor="let items of auths_data"><a [routerLink]="items.path" class="btn"> {{items.name}} </a></li>           
        </ul>
    </div>
  
</header>

  <app-aside-nav (close)="handleCloseMobileNav()" *ngIf="isDisplayedMobileNav"></app-aside-nav>