
<div class="product-item" >
    <div class="product-image">
        <a [routerLink]="['/product',product?.slug]">
            <img [src]="product ? product.imageUrl[0] :'src/assets/image/Robe-violet.jfif'"  alt="{{product?.name}}" >
        </a>
    </div>
    
        <div class="product-details">
            <div class="product-name">
                <h2>{{product?.name?.substring(0,40)}} {{ product  && product.name[41] ? "..." : null}}</h2>
            </div>
            <div class="product-prize">
                <h3>€{{(product?.sold_price || 0)/100}}</h3>
                <del><h3>€{{(product?.regular_price||0)/100}}</h3></del>
                <h4>{{product ? ((product.regular_price-product.sold_price)/product.regular_price|percent) :null }}</h4>
            </div>
             <div class="button flex gap-10">
                <button class="btn jcc aic" (click)="handleClickProduct(product)">Quick View</button>
                                
            </div>
        </div>
        
           
    
</div>
