.product-item .product-prize{
    display: flex;
    gap: 20px;
    font-weight: bold;
    justify-content: center;
    color: #3f51b5;
}
.product-item .product-prize h4{
    color:white;
    font-weight: bold;
    background-color: #3f51b5;
}

a{
    text-decoration: none;
    color: inherit;
}
.product-item{
    
    border: 0.1px solid #ccc;
    width: 200px;
    height: 331px;
    cursor: pointer;
    box-shadow: 0 3px 5px -1px #0003,0 6px 10px #00000024, 0 1px 18 px #0000001f  ;
    
}
.product-item .product-image img{
    width: 100%;
    height: 200px;
}
.product-details{
    height: calc(600px - 400px - 60px);
}

.product-item .product-name h2{
    padding: 0px 10px;
    font-size: 0.9rem;
    height: 45px;
    margin: 0;
}
.product-item .product-prize h3{
    margin: 0;
}
.product-item .product-prize h4{
    border-radius: 20px;
    padding: 3px;
}

.product-item .product-image img{
    width: 100%;
    height: 200px;
}
.product-details button{
    background-color: #3f51b5 ;
    font-size: 0.8rem;
}
.product-item :hover{
    background-color: #1d1d1d;
    color: white;
}
@media screen and (max-width:450px) {
.product-item {
    width: 100%;
}
}